.box
{
    background-color: white;
    padding: 30px 60px;
    box-shadow: 1px 1px 10px #eee
}

.wrapper.smaller
{
    margin-top:100px;
    max-width: 1000px;
}

.wrapper.smaller h1
{
    margin-bottom: 10px;
    font-weight: 400;
    color: #555;
}

input 
{
    /* margin-bottom: 10px; */
    padding: 10px 15px;
    border: none;
    background: #eee;
    font-family: 'poppins';
    font-weight: 300;
}

#id_email, #id_password1, #id_password2
{
    width: 300px;
}

p {
    font-weight: 300;
    color: #555;
}

.light
{
    font-weight: 100;
    font-size: 14px;
}

input[type='submit']
{
    background-color: #FF5887;
    color: white;
    border: none;
    padding: 10px 10px;
    font-size: 0.8em;
    /* margin-top:20px; */
    padding: 10px 20px;
}
.errorlist
{
    background-color: rgba(255, 0, 0, 0.16);
    list-style: none;
    font-weight: 300;
    font-size: 0.8em;
    color: #d45a5a;
    padding: 5px 10px;
}
